/*ex1*/
.ex1{
	font-family:Verdana;
	font-size:12px;
	text-align:center;
	color:red;
	border-style: solid;
}


/*ex2*/

.tabela{
	border-style: solid;
	border-width:1px;
	
}

.titulo{
	text-align:center;
	font-family:Verdana;
	font-size:30px;
	border-style:solid;
	border-top-color: white;
	border-left-color:white;
	border-right-color:white;
	border-bottom-color:blue;
	border-width:1px;
}


.paragrafo1ex2{
	font-family:Verdana;
	font-size:16px;
	color:blue;
	text-indent: 10px;
}

.paragrafo2ex2{
	font-family:Verdana;
	font-size:18px;
	color:green;
	text-indent: 10px;
}


.paragrafo3ex2{
	font-family:Verdana;
	font-size:16px;
	color:yellow;
	font-style:italic;
	text-indent: 10px;
}


.paragrafo4ex2{
	font-family:Verdana;
	font-size:20px;
	color:red;
	font-style:bold;
	text-decoration:underline;
	text-indent: 10px;
}

.paragrafo5ex2{
	font-family:sans-serif;
	font-size:20px;
	color:pink;
	text-indent: 30px;
}
.paragrafo6ex2{
	font-family:sans-serif;
	font-size:20px;
	color:pink;
	text-indent: 60px;
}
.paragrafo7ex2{
	font-family:sans-serif;
	font-size:20px;
	color:pink;
	text-indent: 30px;
}
.paragrafo8ex2{
	font-family:sans-serif;
	font-size:20px;
	color:pink;
	text-indent: 60px;
}



/*ex3*/
table {
    text-align: center;
    font-weight: bolder;
    width: 450px;
}
table tr.fundo {
    background-color: #dddddd;
}
table td.vermelho {
	font-style:italic;
    color:red;
}
table span.normal {
    font-weight: normal;
}
table td.verde {
	font-style:italic;
    color:green;
}
/*ex4*/


.paragrafo1ex4{
	float:right;
	font-size:32px;
}

.paragrafo2ex4{
	font-size:32px;
	
}