@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

main{
	overflow:hidden;
	margin:0 auto;
	width:1350px;
}


.imgheader{
	float:left;
	width: 100%;
	height: 100px;
}
nav.header{ /*Define tamanhos pro Header*/
	float: left;
	width: 100%;
	height: 30px;
	background-color: black;
	opacity: .0.3;
} 
ul.barra_header  {/*Deixa o sub-menu em baixo do menu*/
	margin: 0px;	
    padding: 0px;
}
li.botao_header {/*Configuração para o botao do menu*/
	width: 330px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: center;
	list-style: none;

}
a.texto_botao_header {/*config o texto do botao*/
  color: white;
  text-decoration: none;
  display: block;	
  max-width: 100%;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2;  
}
a:hover.texto_botao_header {
	background-color: #0A1B2B;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	
}

/* index section */
.imagemtop{
	margin-left:130px;
	margin-top:50px;
}

.secao1{
	width:1350px;
	height:740px;
}

.secao2{
	height: 50px;
	width: 1350px;
	background-color:green;
	margin-bottom:110px;
}

.h1secao2{
	text-align:center;
	font-size:35px;
	font-family:verdana;
	margin-top:10px;
	
}

.secao3{
	height:500px;
	width:450px;
	background-color:yellow;
	margin-top:100px;
}

.secao4{
	height:500px;
	width:450px;
	background-color:red;
	margin-top:-500px;
	margin-left:450px;
	
}

.secao5{
	height:500px;
	width:450px;
	background-color:green;
	margin-top:-500px;
	float:right;
	
}

.paragrafossecoes{
	font-family:verdana;
	font-size:35px;
	text-align:center;
	
}

.psecoes{
	text-align:center;
	font-size:20px;
	font-family:verdana;
	margin-top:20px;
}

.secao6{
	height:70px;
	width:1350px;
	background-color:blue;
}

.h1secao6{
	text-align:center;
	font-size:35px;
	font-family:verdana;
	margin-top:10px;
	
}

.secao7{
	height:500px;
	width:450px;
	background-color:yellow;
	margin-top:20px;
}

.secao8{
	height:500px;
	width:450px;
	background-color:green;
	margin-top:20px;
	margin-left:450px;
	margin-top:-500px;
	
}

.secao9{
	height:500px;
	width:450px;
	background-color:red;
	margin-top:20px;
	float:right;
	margin-top:-500px;
	
}

.secao10{
	height: 50px;
	width: 1350px;
	background-color:green;
	margin-bottom:110px;
	
}

.h1secao10{
	text-align:center;
	font-size:35px;
	font-family:verdana;
	margin-top:10px;
}

.secao11{
	height:500px;
	width:620px;
}

.psecao11{
	float:right;
	margin-top:-290px;
	margin-right:120px;
	font-family:verdana;
	font-size:15px;
}




/* index section */

.imgfooter{
	float:left;
	width:100%;
	height:100px;
}

.grade{
	list-style:none;
	border: 0px solid #e2dede;
	float:left;
	margin-bottom: 150px
}

.subgrade{
	list-style:none;
	border: 1px solid #e2dede;
	float:left;
}

.subgrade li{
	position:relative;
	float:left;
	border-right:1px solid #e2dede;
}

/* Letras da Tabela / Definições da Tabela */
.grade li a{color:#333; text-decoration:none; padding:1px 20px; display:block;text-align:center;}
.titulosubgrade li a {
	font-size: 18px;
	color: #fff;
	background-color: #333;	
	width: 800px;
	
    display: flex;
    justify-content:center;
}

/* Sombra das Letras e background */
.grade li a:hover{
background:#333; 
color:#fff; 
-moz-box-shadow:0 3px 10px 0 #CCC; 
-webkit-box-shadow:0 3px 10px 0 #ccc; 
text-shadow:0px 0px 3px #fff; 
}

/* Conteudo do Menu */
.grade li ul{
	position:absolute;
	top:25px;
	left:0px;
	background-color:#fff;
	display:none;
	text-align:left;
}

/* Mostrar conteudo do Menu ao passar o mouse e definições da tabela */
.grade li:hover ul, .menu li.over ul{display:block;}
.grade li ul li{
	text-align: align;
	border:2px solid #c0c0c0;
	display:block;
	width:350px;
}
	