/*body{
background-color:#D3D3D3;

}
*/
	 reset básico /
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
	
.conteudo{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:0 20px;
	font-family: 'titillium_web';
	font-color:#424242;
	
}

@media(min-width: 1000px)
{


.conteudo
   {
max-width:1000px;
padding:0;


   }

.ClassImgPrincipal
    {
		width:100%;
		display: flex;
		justify-content: center;
     } 

 
}


 @media(min-width: 720px)
{
.ClassImgPrincipal2
{
 width:90%;

display: flex;
justify-content: center;
}

}
@media(min-width: 480px)
{
.ClassImgPrincipal3
{
 width:90%;

display: flex;
justify-content: center;
}

}
@media(min-width: 240px)
{
.ClassImgPrincipal4
{
 width:90%;

display: flex;
justify-content: center;
}

}



/* Caixa de conteúdo do site */
.caixadetexto {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

/*Definição de cor dos elementos dentro da caixa de texto em cada seção*/
.sobre .titulo,
.sobre p,
.sobre h2 {
	color: #424242;
}
.depoimentos .titulo,
.depoimentos  p,
.depoimentos h2 {
	color: #424242;
}
.noticias .titulo,
.noticias  p,
.noticias h2 {
	color: #424242;
}
.contato .titulo,
.contato  p,
.contato h2 {
	color: #424242;
}

/*Definição do titulo da seção. EX: "SOBRE A IMPACTA*/
.titulo {
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-color:#424242;
	margin-top: 50px;
	margin-bottom: 30px;
	letter-spacing: 5px;
}

/*Define as colunas divididas em 3 na pagina*/
.coluna3 {
	float: left;
	margin-left: 20px;
	text-align: center;
	width: 30.3333%;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
	margin-bottom:70px;
}


.coluna2 {
	float: left;
	margin-left: 40px;
	text-align: center;
	width: 480px;
	padding-left: 50px;
	padding-right: 50px;
	box-sizing: border-box;
	margin-bottom:70px;
}

.coluna2 img {
	margin-bottom: 40px;
	margin-bottom:70px;
}

.img_depoimento{
	border-radius: 50px;

}

.img_noticias{
	border-radius:200px;
	width:70%;
}

.texto_noticias{
	font-size:16px;
	margin-bottom:70px;
}

.img_campus{
	width:50%;
	float:left;
}

.textocontato{
	float:right;
	margin-left: 20px;
	text-align: center-justify;
	width: 30.3333%;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;
}