/*Define Margem*/
*{margin: 1;
 padding: 0;
 }

 
 


body{
	font-family:arial, helvetica, sans-serif;
	font-family: 12px;
	width: 1350px;
}



.secao1{
	width:1300px;
}

.h1secao1{
	text-align:center;
	text-decoration: underline;
	
}

.secao3{
	width:1300px;
}


.psecao1{
	font-size:15px;
	font-family:verdana;
	text-align:left;
	margin-left:20px;
}

.navegacao{
	width:1300px;
}

.menuvitor{
	
}





@media screen and (max-width:900px){
	
body{
	font-family:arial, helvetica, sans-serif;
	font-family: 12px;
	width: 900px;
}



.secao1{
	width:900px;
}

.secao3{
	width:900px;
}

.h1secao1{
	text-align:center;
	text-decoration: underline;
}

.psecao1{
	font-size:15px;
	font-family:verdana;
	text-align:left;
}

.navegacao{
	width:900px;
}



.menuvitor{
	text-align:left;
}

.menuvitorlistasemestre{
	margin-left:-270px;
}

.menuvitorlista1{
	text-align:center;
	
	
}






@media screen and (max-width:800px){
	
.secao1{
	width:800px;
	
}



.secao3{
	width:800px;
}

.psecaomenu{
	font-family:verdana;
	font-size:15px;
}

.h1secao1{
	text-align:center;
	text-decoration: underline;
}

.psecao1{
	font-size:13px;
	font-family:verdana;
	text-align:left;
}

.navegacao{
	width:800px;
}
	
	
}

.menuvitorlistasemestre{
	margin-left:-270px;	
}

.menuvitorlista1{
	text-align:center;
	
}



@media screen and (max-width:700px){
	
.secao1{
	width:700px;
}

.secao3{
	width:700px;
}

.h1secao1{
	text-align:center;
	text-decoration: underline;
}

.psecao1{
	font-size:13px;
	font-family:verdana;
	text-align:left;
}

.navegacao{
	width:700px;
}


.menuvitorlistasemestre{
	margin-left:-350px;	
}

	
}

.menuvitorlista1{
		text-align:center;
}



@media screen and (max-width:600px){
	
.secao1{
	width:600px;
}


.secao3{
	width:600px;
}


.h1secao1{
	text-align:center;
	text-decoration: underline;
}

.psecao1{
	font-size:12px;
	font-family:verdana;
	text-align:left;
}

.navegacao{
	width:600px;
}
	
	
}

.menuvitorlistasemestre{
}

.menuvitorlista1{
	text-align:center;
}





@media screen and (max-width:500px){
	
.secao1{
	width:500px;
}

.secao3{
	width:500px;
}

.h1secao1{
	text-align:center;
	text-decoration: underline;
}

.psecao1{
	font-size:10px;
	font-family:verdana;
	text-align:left;
}

.navegacao{
	width:500px;
}
	
	


.menuvitorlistasemestre{
}

.menuvitorlista1{
	text-align:center;
}

}


@media screen and (max-width:400px){
	
.secao1{
	width:400px;
}

.secao3{
	width:400px;
}

.h1secao1{
	text-align:center;
	text-decoration: underline;
}

.psecao1{
	font-size:9px;
	font-family:verdana;
	text-align:left;
}

.navegacao{
	width:400px;
}
	
	
}

.menuvitorlistasemestre{
}

.menuvitorlista1{
	text-align:center;
}

