/*Define Margem*/
*{margin: 1; padding: 0;}



body{
	font-family:arial, helvetica, sans-serif;
	font-family: 12px;
	width: 1325px;
}

.menu{
	list-style:none;
	border: 0px solid #e2dede;
	float:left;
	margin-bottom: 150px
}

.submenu{
	list-style:none;
	border: 1px solid #e2dede;
	float:left;
}

.submenu li{
	position:relative;
	float:left;
	border-right:1px solid #e2dede;
}

/* Letras da Tabela / Definições da Tabela */
.menu li a{color:#333; text-decoration:none; padding:1px 20px; display:block;text-align:center;}
.titulosubmenu li a {
	font-size: 18px;
	color: #fff;
	background-color: #333;	
	width: 800px;
	
    display: flex;
    justify-content:center;
}

/* Sombra das Letras e background */
.menu li a:hover{
background:#333; 
color:#fff; 
-moz-box-shadow:0 3px 10px 0 #CCC; 
-webkit-box-shadow:0 3px 10px 0 #ccc; 
text-shadow:0px 0px 3px #fff; 
}

/* Conteudo do Menu */
.menu li ul{
	position:absolute;
	top:25px;
	left:0px;
	background-color:#fff;
	display:none;
	text-align:left;
}

/* Mostrar conteudo do Menu ao passar o mouse e definições da tabela */
.menu li:hover ul, .menu li.over ul{display:block;}
.menu li ul li{
	text-align: align;
	border:2px solid #c0c0c0;
	display:block;
	width:350px;
}
	
	
	
	
.fimpg{
	margin-right:150px;
	margin-bottom:150px;
	
}
.header.final{
	float:left;
}
nav.div_header{
	float: left;
	width: 100%;
	height: 30px;
	background-color: black;
	opacity: .0.3;
}
ul.barra  {/*deixa o sub-menu em baixo do menu*/
	margin: 0px;	
    padding: 0px;
	
	
}

li.header {/*congig para o botao do menu*/
	width: 330px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: center;
	list-style: none;

}

a.anchor {/*config o texto do botao*/
  color: white;
  text-decoration: none;
  display: block;	
  max-width: 100%;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2;  

}
.center{
	width: 600px; 
    display: flex;
	position: relative;
	left: 225px;
}
a:hover.anchor {
	background-color: #0A1B2B;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	
}

}
.opening{
	text-align:center;
}
.roda{
	width: 1325px;
	position: relative;
	right: 1px;
	margin: 0px;
	padding: 0px;
	
}

.rs{
	margin-bottom:300px;
}


.toppo {
	width: 1325px;
	height: 90px;
}
.adm{
	position:relative;
	left: 380;
}
.logo{
	height: 90px;
	width: auto;
	position: absolute;
	bottom: 1px;
	left: 45%;
	right: 50%;
}

.zoom img{
	margin:2px;
	padding: 2px;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	margin:0;

}
.zoom:hover img{
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	cursor: pointer;
}

.txt_siga{
	text-decoration: none;
    color: white;
    font-size: 20px;
	text-transform: uppercase;
	position: relative;
	bottom: -10px;
	left: -8px;
	z-index:-10;	
}
.siga_impacta{
	width:150px;
	height:50px;
}


<!-- Formatação de texto -->

.p{
	font-family: "Courier","monospace"
	color:red;
	text-align: center;
}

.h2{
	font-family: "Impact","fantasy"
	color:black;
	font-weigth: bold;
	text-align: center;
}
	
.h3{
	font-family: "Impact","fantasy"
	color:black;
	font-weigth: bold;
	text-align: center;
}

.h4{
	font-family: "Impact","fantasy"
	color:black;
	font-weigth: bold;
	text-align: center;
}


<!-- estilos aplicados no slider -->

* {
	margin: 0px;
	padding: 0px;
}

.galeria{
	margin: 100px auto;
	width: 480px;
	height: 270px;
	position: relative;
	overflow: hidden;
}

.foto{
	position: absolute;
	opacity: o;
	animation-name: animacao;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

.foto:nth-child(1){
	animation-delay:12s;	
}

.foto:nth-child(2){
animation-delay:8s;
}

.foto:nth-child(3){
animation-delay:16s;
}

.foto:nth-child(4){
animation-delay:10s;
}


@keyframes animacao{
	25%{
		opacity: 1
		transform:scale(2.2,2.2);
	}
	50%{
		opacity: 0;
	}
}

.footer_copy{
	text-align:center;
	
}

